.exchange-page {
  padding-bottom: 100px;

  h1 {
    margin-top: 60px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  .rate-info {
    border-radius: 5px;
    background: #e8ebf0;
    padding: 15px 25px;
    margin-top: 70px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    line-height: 32px;
    margin-bottom: 54px;

    .bold {
      font-weight: normal;
    }
  }


  .checkbox-row {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 0.08em;
    line-height: 26px;
    font-size: 16px;

    a {
      color: #000;
    }

    .checkbox {
      display: inline-block;
      vertical-align: middle;
      margin-top: -3px;
      width: 16px;
      height: 16px;
      background: url('/img/checkbox-disabled.png');
      margin-right: 15px;
      cursor: pointer;

      &.active {
        background: url('/img/checkbox-enabled.png');
      }
    }
    label {
      cursor: pointer;
    }
  }

  .exchange-section {
    display: flex;

    .step-number {
      font-size: 120px;
      color: rgba(166, 217, 66, 0.5);
      margin-right: 35px;
    }

    & > div {
      flex: 1
    }

    h3 {
      font-size: 30px;
      margin: 18px 0 20px;
      color: #a6d942;
    }

    .era-warning {
      display: flex;
      flex-wrap: wrap;
      letter-spacing: 1.6px;

      .erachain-warning-left,
      .erachain-warning-right {
        width: 50%;
      }

      .erachain-warning-left {
        h3 {
          font-size: 60px;
          margin-top: 10px;
          margin-bottom: 0;
          letter-spacing: 6px;
        }

        p {
          margin-top: 5px;
        }
      }

      .erachain-warning-right {
        h3 {
          letter-spacing: 3px;
          text-align: center;
          margin: 28px 0;
        }

        .row {
          display: flex;

          .erachain-warning-how-to-item-container {
            flex: 1;
            text-align: center;
            color: #7b7b7b;

            & > div {
              display: flex;
              flex-direction: column;
              cursor: pointer;

              img {
                margin-bottom: 7px;
              }

              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
      }

      .checkbox-row {
        margin-top: 15px;
      }
    }

    .account-out-input,
    .account-in-input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #758597;
      outline: none;
      font-size: 30px;
      width: 100%;
      padding: 0 8px;
      transition: all .3s;

      &.error {
        border-bottom-color: #e35757;
      }
    }

    .account-out-error {
      display: block;
      color: #e35757;
      font-size: 16px;
      letter-spacing: 1.6px;
      margin-top: 10px;
    }

    .nextButton {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }

  .QR-code {
    display: flex;
    justify-content: center;
  }

  .ta-center {
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 26px;
  }

  .short-hr {
    width: 77px;
    border: none;
    border-bottom: 2px solid #e0e2e7;
  }

  @media (max-width: 1000px) {
    .container-950 {
      padding: 0 15px;

      .exchange-form {
        padding: 0;
      }
    }
  }
}
